# Project files
ejemplo-fu
*.jpg
*.png
*.txt

# Vim files
*~
.*.swp

# Object files
*.o
*.ko
*.obj
*.elf
*.slo

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lai
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Fortran module files
*.mod
*.smod
